[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-movie-sailor
Exec=harbour-movie-sailor
Name=Movie sailor

[X-Sailjail]
# Replace with your organization as a reverse domain name
OrganizationName=nemishkor
# ApplicationName does not have to be identical to Name
ApplicationName=harbour-movie-sailor
# Add the required permissions here
Permissions=Internet
